@define-color text rgba(205, 214, 244, 1.0);
@define-color hover rgba(255, 255, 255, 0.1);
@define-color activeWorkspace rgba(116, 199, 236, 0.5);
@define-color background rgba(17, 17, 27, 0.5);
@define-color urgent rgba(230, 69, 83, 0.5);

* {
    border: none;
    border-radius: 0.25rem;
    font-family: "FiraCode Nerd Font Mono";
    font-size: 1.1rem;
    min-height: 0.5rem;
}

window#waybar {
    background: @background;
    color: @text;
    padding: 0 0.5rem;
    border-radius: 0.3rem;
}

window#waybar.hidden {
    opacity: 0.5;
}

tooltip {
    background: @background;
    border: 0.1rem solid @text;
}

tooltip label {
    color: @text;
}

.modules-left,
.modules-center,
.modules-right {
    background: @background;
    background-color: @background;
}

.modules-left {
    padding: 0;
}

.modules-center {
    padding: 0 1rem;
}

.modules-right {
    padding: 0 1rem;
}

#workspaces button {
    background: transparent;
    color: @text;
    transition:
        background 0.3s ease,
        transform 0.2s ease-in-out;
}

#workspaces button.active {
    background: @activeWorkspace;
}

#workspaces button:hover {
    background: @hover;
    box-shadow: 0 0 0.25rem @hover;
}

#workspaces button.urgent {
    background: @urgent;
}

#idle_inhibitor.activated {
    color: @urgent;
}

#wireplumber.muted {
    background: @urgent;
    padding: 0 0.5rem;
}
