animations {
    // https://easings.co

    workspace-switch {
        off
    }

    window-open {
        duration-ms 600
        curve "linear"

        custom-shader r"
            vec4 open_color(vec3 coords_geo, vec3 size_geo) {
                float time_factor = niri_progress * 20.0; 

                float x_wobble = sin(coords_geo.x * 5.0 + time_factor) * 0.015;
                float y_wobble = cos(coords_geo.y * 5.0 + time_factor) * 0.005;

                vec3 distorted_coords = coords_geo + vec3(x_wobble, y_wobble, 0.0);

                vec3 coords_tex = niri_geo_to_tex * distorted_coords;
                vec4 color = texture2D(niri_tex, coords_tex.st);

                return color * niri_clamped_progress;
            }
        "
    }

    window-close {
        duration-ms 600
        curve "linear"

        custom-shader r"
            vec4 close_color(vec3 coords_geo, vec3 size_geo) {
                float decay_factor = 1.0 - niri_clamped_progress; 
                
                float time_factor = niri_progress * 20.0 * decay_factor; 

                float x_wobble = sin(coords_geo.x * 5.0 + time_factor) * 0.005 * decay_factor * 2.0;
                float y_wobble = cos(coords_geo.y * 5.0 + time_factor) * 0.015 * decay_factor * 2.0;

                vec3 distorted_coords = coords_geo + vec3(x_wobble, y_wobble, 0.0);

                vec3 coords_tex = niri_geo_to_tex * distorted_coords;
                vec4 color = texture2D(niri_tex, coords_tex.st);

                return color * (1.0 - niri_clamped_progress);
            }
        "
    }

    horizontal-view-movement {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
    }

    window-movement {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
    }

    window-resize {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
    }

    config-notification-open-close {
        duration-ms 300
        curve "cubic-bezier" 0.68 -0.55 0.27 1.55
    }
      
    screenshot-ui-open {
        duration-ms 300
        curve "cubic-bezier" 0.68 -0.55 0.27 1.55
    }

    overview-open-close {
        duration-ms 600
        curve "cubic-bezier" 0.68 -0.55 0.27 1.55
    }

    exit-confirmation-open-close {
        duration-ms 300
        curve "cubic-bezier" 0.68 -0.55 0.27 1.55
    }
}
